<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aman Crud app</title>
  <link rel="stylesheet" href="{% static 'css/boot.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  
    {% block body %}  {% endblock body %}
</body>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
</html>    
    